.navbar-custom{ 
    margin-top: 30px;
}

.card-deck{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.custom_card{
    background-color: rgb(245, 246, 247);
    border: none;
}

.texto-encabezado{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color:  rgb(166, 171, 175);;
}

.fondo{
    background-color: rgb(245, 246, 247);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    height: 380px;
}

.container-footer{
    background-color:rgb(42,59,78);
    padding-top: 15px;
}

.footer{
    background-color: #33485F;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.animation-wrapper{
    padding-left: 15px;
    padding-right: 15px;
}

.sm-text-center{
    padding-left: 15px;
    padding-right: 15px;
}

/* mouse over link */
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(10, 9, 9);
}   
  
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.animate{
    position: relative;
}

.slide-right{
    bottom: 140px;
    left: 540px;
    width: 74px;
    height: 152px;
}

.sm-text-center{
    text-align: center;
    display: inline-block;
}


@media (max-width: 990px){
    .slide-right{
        display: none;
    }
}

@media (min-width: 768){
    .sm-text-center{
        text-align: center;
        display: inline-block;
    }
}

/* The element will repeat the animation 2x
   It's better to set this property locally and not globally or
   you might end up with a messy situation */
   .btn_curriculum {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    
  }

  /* This only changes this particular animation duration */
.animate__animated.animate__pulse {
    --animate-duration: 1.5s;
  }